.navbar{
    display: flex;
    justify-content: center;
    width: 80%
}
.searchbar{
    width:50%;
    height: 20px;
    width: 50%;
    height: 35px;
    font-size: 20px;

}
.mytext{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(109 , 109, 109);
    text-align: center;
    font-size: 16px;
    margin-left: 5px;

}
.button{
    width: 100px;
    height: 43px;
    font-weight: bold;
    font-size: 20px;
}
.movies{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; margin-top: 50px;
}

.star{
    
    position: absolute;
    top: 0;
    left:65%;
    background: white;
}
.onepic{
    position: relative  ;
}
.add{
width:150px;
height: 100px;
background: grey;
color: aliceblue;
font-weight: bold;
font-size: 15px;
}
.star-filter{
    justify-content: flex-start;
}